<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<context:component-scan base-package="com.njau">
		<!-- 配置要忽略的注解 -->
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 配置数据源-->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	
	<!--配置事物管理器-->
	<bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	
	<tx:advice transaction-manager="transactionManager" id="transactionInterceptor">
		<tx:attributes>
			<tx:method name="*"/>
			<tx:method name="find*" read-only="true" propagation="SUPPORTS"/>
			<tx:method name="select*" read-only="true" propagation="SUPPORTS"/>
			<tx:method name="get*" read-only="true" propagation="SUPPORTS"/>
		</tx:attributes>
	</tx:advice>
	<!--配置切入点及与通知的联系-->
	<aop:config>
		<aop:pointcut id="pointcut" expression="execution(* com.njau.service.impl.*.*(..))"/>
		<aop:advisor advice-ref="transactionInterceptor" pointcut-ref="pointcut"/>
	</aop:config>
	
	<!--整合mybatisplug-->
	
	<bean class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean" id="sqlSessionFactory">
		<property name="dataSource" ref="dataSource"/>
		<!--别名-->
		<property name="typeAliasesPackage" value="com.njau.entity"/>
		
		<!--插件配置-->
		<property name="plugins">
			<list>
				<!--注册分页插件-->
				<bean class="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor"/>
				<!--SQL执行分析插件-->
				<bean class="com.baomidou.mybatisplus.extension.plugins.SqlExplainInterceptor"/>
				<!--SQL性能分析-->
				
				<bean class="com.baomidou.mybatisplus.extension.plugins.PerformanceInterceptor">
					<property name="maxTime" value="100"/>
					<!--SQL是否格式化 默认false-->
					<property name="format" value="true"/>
				</bean>
			</list>
		</property>
	</bean>
	<!--要扫描的mapper文件位置-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" id="mapperScannerConfigurer">
		<property name="basePackage" value="com.njau.dao"/>
	</bean>

</beans>
